.header {
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.option {
  margin: 25px;
}

@media screen and (max-width: 600px) {
  .bg-triangle {
    left: 5%;
    bottom: 271px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 600px) {
  .option {
    margin: 8px
  }
}

.option:nth-child(3n) {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.bg-triangle {
  position: relative;
  left: calc(50% - 153px);
  bottom: 325px;
  z-index: -1;
}

.page-two {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

.page-two div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: scale 3s ease-in-out;
}

.res {
  margin: 35px 0;
  display: flex;
  justify-content: center;
  transform: scale(1.5);
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 25px;
}

.txt {
  font-size: 50px;
}

.play-again-btn {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: #ff3e3e;
  background: #f1f1f1;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
}

.rule-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: none;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 5px 25px;
  font-size: larger;
  color: white;
  cursor: pointer;
}
