.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #d7d7d7;
  border: 20px solid ;
  border-radius: 50%;
  cursor: pointer;
}

.paper {
  border-color: hsl(230, 89%, 65%);
  box-shadow: inset 0px 7px #92929245, 0px 7px hsl(230, 89%, 62%);
}

.rock {
  border-color: hsl(349, 70%, 56%);
  box-shadow: inset 0px 7px #92929245, 0px 7px hsl(349, 71%, 52%);
}

.scissors {
  border-color: hsl(40, 84%, 53%);
  box-shadow: inset 0px 7px #92929245, 0px 7px hsl(39, 89%, 49%) ;
}

